.ratings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 992px) {
  .course-card {
    margin-top: 5%;
  }
  .course-image {
    height: 180px;
    width: 162;
  }
  .courses {
    margin-bottom: 10%;
  }
  .side-menu {
    margin: 10% 2%;
  }
}
@media only screen and (max-width: 425px) {
  .course-card {
    margin-top: 5%;
  }
  .courses {
    margin-bottom: 10%;
  }
  .side-menu {
    margin: 10% 2%;
  }
}
