.body {
  background-color: aliceblue;
}
.checkout-container {
  border-radius: 25%;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: skyblue;
}

.title-info {
  margin-left: 2%;
}
.italic-name {
  font-style: italic;
  /* color: white; */
  /* font-weight: 800; */
}

@media only screen and (min-width: 768px) {
  .info-left {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .course-img {
    width: 20%;
  }
  .infos {
    /* background-color: powderblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
  }
}

@media screen and (max-width: 425px) {
}
