.menu {
  background-color: #fff;
}

.logo {
  width: 15%;
}
.vivid {
  font-size: 28px;
  font-weight: bold;
}

.logo-pair {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: black;
  background-color: #ffffff;
}
.user-image {
  width: 10%;
}
.toggle-theme {
  width: 50%;
  height: 50%;
}
.left-part {
  margin-left: 20%;
}
.right-half button {
  /* margin: 0 2%; */
  font: bold;
  text-decoration: none;
}

/* .right-half {
  flex-direction: column;
} */

@media screen and (max-width: 480px) {
  .logo {
    width: 10%;
  }
  .vivid {
    font: 100;
    font-size: 6px;
  }
}
